In [1]:
import re
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

import findspark
findspark.init()

from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark.sql.functions import min

from pyspark.sql import SparkSession
from pyspark import SparkContext

import plotly
plotly.offline.init_notebook_mode()

spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext

ValueError: Couldn't find Spark, make sure SPARK_HOME env is set or Spark is in an expected location (e.g. from homebrew installation).

In [32]:
mentions = spark.read.parquet("joined.parquet")

In [33]:
mentions

DataFrame[GLOBALEVENTID: bigint, Day_DATE: string, MonthYear_Date: string, Year_Date: string, FractionDate: float, Actor1Code: string, Actor1Name: string, Actor1CountryCode: string, Actor1KnownGroupCode: string, Actor1EthnicCode: string, Actor1Religion1Code: string, Actor1Religion2Code: string, Actor1Type1Code: string, Actor1Type2Code: string, Actor1Type3Code: string, Actor2Code: string, Actor2Name: string, Actor2CountryCode: string, Actor2KnownGroupCode: string, Actor2EthnicCode: string, Actor2Religion1Code: string, Actor2Religion2Code: string, Actor2Type1Code: string, Actor2Type2Code: string, Actor2Type3Code: string, IsRootEvent: bigint, EventCode: string, EventBaseCode: string, EventRootCode: string, QuadClass: bigint, GoldsteinScale: float, NumMentions: bigint, NumSources: bigint, NumArticles: bigint, AvgTone: float, Actor1Geo_Type: bigint, Actor1Geo_FullName: string, Actor1Geo_CountryCode: string, Actor1Geo_ADM1Code: string, Actor1Geo_ADM2Code: string, Actor1Geo_Lat: float, Actor1Geo_Long: float, Actor1Geo_FeatureID: string, Actor2Geo_Type: bigint, Actor2Geo_FullName: string, Actor2Geo_CountryCode: string, Actor2Geo_ADM1Code: string, Actor2Geo_ADM2Code: string, Actor2Geo_Lat: float, Actor2Geo_Long: float, Actor2Geo_FeatureID: string, ActionGeo_Type: bigint, ActionGeo_FullName: string, ActionGeo_CountryCode: string, ActionGeo_ADM1Code: string, ActionGeo_ADM2Code: string, ActionGeo_Lat: float, ActionGeo_Long: float, ActionGeo_FeatureID: string, DATEADDED: bigint, SOURCEURL: string, GLOBALEVENTID_MENTIONS: bigint, EventTimeDate_MENTIONS: bigint, MentionTimeDate_MENTIONS: bigint, MentionType_MENTIONS: bigint, MentionSourceName_MENTIONS: string, MentionIdentifier_MENTIONS: string, SentenceID_MENTIONS: bigint, Actor1CharOffset_MENTIONS: bigint, Actor2CharOffset_MENTIONS: bigint, ActionCharOffset_MENTIONS: bigint, InRawText_MENTIONS: bigint, Confidence_MENTIONS: bigint, MentionDocLen_MENTIONS: bigint, MentionDocTone_MENTIONS: float, MentionDocTranslationInfo_MENTIONS: string, Extras_MENTIONS: string]

In [34]:
mentions.count()

2976728

In [35]:
country_codes = ['AU','BE','BU','HR','CY','EZ','DK','EN','FI','FR','GM','GR','HU','EI','IT','LG','LH','LU','MT','NL','PL','PO','RO','LO','SI','SP','SW','UK','NO','LS','IC','SZ', 'TU']

european_mentions = mentions.where(col('ActionGeo_CountryCode').isin(country_codes))

In [36]:
european_mentions.count()

1025090

In [37]:
#european_mentions.select(col("MentionTimeDate_MENTIONS")).sort(col("MentionTimeDate_MENTIONS")).show()

In [38]:
european_mentions.select(col("MentionSourceName_MENTIONS")).where(col("MentionType_MENTIONS") == 1).show()

+--------------------------+
|MentionSourceName_MENTIONS|
+--------------------------+
|               mrtimes.com|
|                  kawc.org|
|          tucsonweekly.com|
|      middleeastmonitor...|
|        middevonstar.co.uk|
|              novinite.com|
|          commondreams.org|
|          commondreams.org|
|         turkishweekly.net|
|             focus-fen.net|
|             focus-fen.net|
|            gulf-times.com|
|                spiegel.de|
|         indianexpress.com|
|          101touchfm.co.uk|
|        banburysound.co.uk|
|            964eagle.co.uk|
|               mix96.co.uk|
|             arrowfm.co.uk|
|           kingdomfm.co.uk|
+--------------------------+
only showing top 20 rows

In [39]:
european_mentions = european_mentions.where((col("MentionType_MENTIONS") == 1))

In [40]:
eu = pd.read_csv("EU.csv",skipinitialspace=True)
eu.head()

   ISO Country Name Domen
0  AUT      Austria    at
1  BEL      Belgium    be
2  BGR     Bulgaria    bg
3  HRV      Croatia    hr
4  CYP       Cyprus    cy

In [41]:
european_mentions = european_mentions.withColumn("Domens_MENTIONS", (substring(col("MentionSourceName_MENTIONS"), -2, 2)))
#european_mentions.select(col("Domens_MENTIONS")).show()

In [42]:
grouped = european_mentions.groupBy('Domens_MENTIONS').count()
grouped.orderBy(desc("count")).show()

+---------------+------+
|Domens_MENTIONS| count|
+---------------+------+
|             om|710352|
|             uk| 69601|
|             rg| 63117|
|             et| 35754|
|             au| 33527|
|             tv|  8053|
|             eu|  7325|
|             ca|  5956|
|             nt|  5946|
|             ie|  5398|
|             za|  4635|
|             de|  4170|
|             cn|  3969|
|             my|  3773|
|             tr|  3763|
|             pk|  3527|
|             fo|  3478|
|             gr|  3380|
|             nz|  3265|
|             ch|  2351|
+---------------+------+
only showing top 20 rows

In [43]:
array = eu['Domen'].values.tolist()
unknown_domens = european_mentions.where(col("Domens_MENTIONS").isin(array) == False)
unknown_domens.count()

916722

In [44]:
known_domens = european_mentions.where(col("Domens_MENTIONS").isin(array)).toPandas()
known_domens.count()

GLOBALEVENTID                         104854
Day_DATE                              104854
MonthYear_Date                        104854
Year_Date                             104854
FractionDate                          104854
Actor1Code                            101554
Actor1Name                            101554
Actor1CountryCode                      40388
Actor1KnownGroupCode                    2301
Actor1EthnicCode                         265
Actor1Religion1Code                      810
Actor1Religion2Code                      172
Actor1Type1Code                        66550
Actor1Type2Code                         1646
Actor1Type3Code                           25
Actor2Code                             93445
Actor2Name                             93445
Actor2CountryCode                      28006
Actor2KnownGroupCode                    1220
Actor2EthnicCode                         187
Actor2Religion1Code                      315
Actor2Religion2Code                       65
Actor2Type1Code                        67582
Actor2Type2Code                          883
Actor2Type3Code                           30
IsRootEvent                           104854
EventCode                             104854
EventBaseCode                         104854
EventRootCode                         104854
QuadClass                             104854
                                       ...
Actor2Geo_Lat                          93410
Actor2Geo_Long                         93410
Actor2Geo_FeatureID                    93445
ActionGeo_Type                        104854
ActionGeo_FullName                    104836
ActionGeo_CountryCode                 104854
ActionGeo_ADM1Code                    104854
ActionGeo_ADM2Code                     60433
ActionGeo_Lat                         104854
ActionGeo_Long                        104854
ActionGeo_FeatureID                   104854
DATEADDED                             104854
SOURCEURL                             104854
GLOBALEVENTID_MENTIONS                104854
EventTimeDate_MENTIONS                104854
MentionTimeDate_MENTIONS              104854
MentionType_MENTIONS                  104854
MentionSourceName_MENTIONS            104854
MentionIdentifier_MENTIONS            104854
SentenceID_MENTIONS                   104854
Actor1CharOffset_MENTIONS             104854
Actor2CharOffset_MENTIONS             104854
ActionCharOffset_MENTIONS             104854
InRawText_MENTIONS                    104854
Confidence_MENTIONS                   104854
MentionDocLen_MENTIONS                104854
MentionDocTone_MENTIONS               104854
MentionDocTranslationInfo_MENTIONS         0
Extras_MENTIONS                            0
Domens_MENTIONS                       104854
Length: 78, dtype: int64

In [45]:
eu_news = pd.merge(known_domens, eu, left_on='Domens_MENTIONS', right_on='Domen', how='inner')
eu_news['year_MENTIONS'] = eu_news['MentionTimeDate_MENTIONS'].apply(lambda x: int(str(x)[:4]))
eu_news.head()

,GLOBALEVENTID,Day_DATE,MonthYear_Date,Year_Date,FractionDate,Actor1Code,Actor1Name,Actor1CountryCode,Actor1KnownGroupCode,Actor1EthnicCode,...,Confidence_MENTIONS,MentionDocLen_MENTIONS,MentionDocTone_MENTIONS,MentionDocTranslationInfo_MENTIONS,Extras_MENTIONS,Domens_MENTIONS,ISO,Country Name,Domen,year_MENTIONS
0,412733685,20150227,201502,2015,2015.156250,REF,REFUGEE,None,None,None,...,40,5489,-4.684096,None,None,uk,GBR,United Kingdom,uk,2015
1,426760292,20150420,201504,2015,2015.301392,IGOEUREECGOV,EUROPEAN UNION,EUR,EEC,None,...,100,3129,-7.269155,None,None,uk,GBR,United Kingdom,uk,2015
2,426760292,20150420,201504,2015,2015.301392,IGOEUREECGOV,EUROPEAN UNION,EUR,EEC,None,...,100,3129,-7.283464,None,None,uk,GBR,United Kingdom,uk,2015
3,426760292,20150420,201504,2015,2015.301392,IGOEUREECGOV,EUROPEAN UNION,EUR,EEC,None,...,100,3104,-7.341270,None,None,uk,GBR,United Kingdom,uk,2015
4,426760292,20150420,201504,2015,2015.301392,IGOEUREECGOV,EUROPEAN UNION,EUR,EEC,None,...,100,3114,-7.326733,None,None,uk,GBR,United Kingdom,uk,2015

In [46]:
grouped = eu_news[['year_MENTIONS','ISO','GLOBALEVENTID']].groupby(['year_MENTIONS','ISO'], as_index=False).count()
grouped.head()

   year_MENTIONS  ISO  GLOBALEVENTID
0           2015  AUT            690
1           2015  BEL             65
2           2015  BGR            183
3           2015  CHE            940
4           2015  CYP             29

In [47]:
data = []
years = grouped[['year_MENTIONS']].drop_duplicates().values

# let's create some additional, random data
for i in range(years.shape[0]):
    year_data = grouped.loc[grouped['year_MENTIONS'] == years[i][0]]
    data.append(dict(type='choropleth',
             locations = year_data['ISO'].astype(str),
             z=year_data['GLOBALEVENTID'].astype(float),
             locationmode='ISO-3'))
    
# let's create the steps for the slider
steps = []
for i in range(len(data)):
    step = dict(method='restyle',
                args=['visible', [False] * len(data)],
                label='Year {}'.format(i + 2015))
    step['args'][1][i] = True
    steps.append(step)

sliders = [dict(active=0,
                pad={"t": 1},
                steps=steps)]    
layout = dict(geo=dict(scope='world', projection ={'type':'eckert4'}),
              sliders=sliders)

fig = dict(data=data, 
           layout=layout)
plotly.offline.iplot(fig)